@media (max-width: 575.98px) {
    h1{
        background-color: mediumorchid;
        font-size: 30px;
        font-weight: 400;
    }
    p{
        font-size: 35px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        background-color: yellow;
        color: black;
    }
    p{
        background-color: brown;
        color: yellowgreen;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        background-color: black;
        color: white;
    }
    p{
        background-color: red;
        color: aqua;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        background-color: peru;
        color: blue;
    }
    p{
        background-color: turquoise;
        color: cornflowerblue;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    h1{
        background-color: transparent;
        color: black;
    }
    p{
        background-color: transparent;
        color: chocolate;
    }
}

@media (min-width: 1400px) {
    h1{
        background-color: goldenrod;
        color: royalblue;
    }
    p{
        background-color: maroon;
        color: indianred;
    }
}